.header{
    padding-bottom: 20px;
}
.header nav {
    background-image: linear-gradient(-90deg, #99f3c8, #01d28e);
}

.nav-link {
    font-size: 16px;
    color: #fff !important;
}

.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #fff;
}




