.wrapper {
    background-color: #709B40;
    padding: 3rem 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.container .item {
    flex-basis: 45%;
}

.item a {
    color: #dad7cd;
    white-space: nowrap;
}

.item a:hover {
    color: #a3b18a;
}

@media screen and (min-width: 768px) {  
    .container {
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: left;
    }

    .container .item {
        flex-basis: auto;
        margin-left: 1.5rem;
    }
}